<div>
    <!--DataTable-->
    
    
    <md-card class="demo-card demo-basic">
        <!--<md-toolbar color="primary">Basic</md-toolbar>-->
        <md-card-header>
            <!--<img md-card-avatar src="path/to/img.png">-->
            <span>
                <md-card-title>Equipment Type</md-card-title>
                <md-card-subtitle>List</md-card-subtitle>
            </span>
            <span class="example-fill-remaining-space" style="flex: 1 1 auto;"></span>
            <span>
                <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                    <!--<md-icon fontSet="fa" fontIcon="fa-ellipsis-v"></md-icon>-->
                </button>

                <md-menu x-position="before" #menu="mdMenu">
                    <button md-menu-item> Refresh </button>
                    <button md-menu-item> Settings </button>
                    <button md-menu-item> Help </button>
                    <button md-menu-item disabled> Sign Out </button>
                </md-menu>
            </span>
        </md-card-header>
        <md-card-content>
            <p-dataTable [value]="list"
                         selectionMode="single"
                         [(selection)]="selected"
                         scrollable="true"
                         scrollHeight="200px"
                         [contextMenu]="cm"
                         (onRowSelect)="onRowSelect($event)"
                         (onRowUnselect)="onRowUnselect($event)">
                <header>User List</header>
                <footer>
                    <button pButton type="text" (click)="click_Add()" icon="fa-check" label="Add"></button>
                </footer>
                <p-column field="equipmenttypeId" header="Id"></p-column>
                <p-column field="name" header="Name"></p-column>
                <p-column field="isActive" header="Active"></p-column>
            </p-dataTable>
            <p-contextMenu #cm [model]="menu_items"></p-contextMenu>
            <!--<form>
                <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
                </md-input>

                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td><md-input placeholder="First name" style="width: 100%"></md-input></td>
                        <td><md-input placeholder="Long Last Name That Will Be Truncated" style="width: 100%"></md-input></td>
                    </tr>
                </table>
                <p>
                    <md-textarea class="demo-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-textarea>
                    <md-textarea class="demo-full-width" placeholder="Address 2"></md-textarea>
                </p>
                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td><md-input class="demo-full-width" placeholder="City"></md-input></td>
                        <td><md-input class="demo-full-width" placeholder="State"></md-input></td>
                        <td><p-calendar [(ngModel)]="myfecha" [ngModelOptions]="{standalone: true}"></p-calendar></td>
                        <td><p-calendar [(ngModel)]="myfecha"></p-calendar></td>
                        <td>
                            <md-input #postalCode class="demo-full-width" maxlength="5"
                                      placeholder="Postal Code"
                                      value="94043">
                                <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
                            </md-input>
                        </td>
                    </tr>
                </table>
            </form>-->
        </md-card-content>
    </md-card>
    {{lastCloseResult}}
    <!--Dialog-->
    <!--<p-dialog [(visible)]="show_dialog" modal="true" responsive="true" draggable="false" resizable="false">
        <header>
            Header content here
        </header>
        <form (ngSubmit)="onSubmit()" #customerForm="ngForm" class="editForm" novalidate>
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" name="phaseId" [(ngModel)]="current.phaseId" #Name="ngModel" required>
                <div class="alert alert-danger" [hidden]="current.phaseId">Id is required</div>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="current.name" #Name="ngModel" required>
                <div class="alert alert-danger" [hidden]="current.name">Name is required</div>
            </div>
        </form>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button class="btn btn-default" (click)="onCancel($event)">Cancel</button>
                <button class="btn btn-success" [disabled]="!customerForm.dirty || !customerForm.valid" (click)="onSubmit()">Update</button>
            </div>
        </footer>
    </p-dialog>-->
    
   
</div> 