@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
    margin:0;
}
a {
    color: #03A9F4;
}

.mm-toolbar-fixed{
    position:fixed;
    z-index:1;
}
.mm-content{
    padding-top: 64px;
}
.mm-sidenav{
    width:200px;
    padding-top:64px;
}
