<div >
    <div fxLayout="row" class="colored box">
        <div fxFlex="20">  fxFlex="20"  </div>
        <div fxFlex="60">  fxFlex="60"  </div>
        <div fxFlex>      fxFlex       </div>
    </div>
</div>
<div class="container-fluid">

    <h1>{{message}}</h1>

    <md-input [(ngModel)]="posicionx" placeholder="X" style="width: 100%" [ngModelOptions]="{standalone: true}"></md-input>
        <!--<md-input-container>
            <input md-input placeholder="Favorite food" value="Sushi">
        </md-input-container>-->

        <div class="row">
            <form class="form-inline" (ngSubmit)="addThing()" #thingForm="ngForm">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputThing">Thing</label>
                    <input type="text" class="form-control" id="exampleInputThing" placeholder="Name of the thing ..." name="thing" [(ngModel)]="thing.name"
                           required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!thingForm.valid">Create new Thing</button>
            </form>
        </div>

        <div class="row" *ngIf="things.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let thing of things; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{thing.name}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-xs btn-danger" (click)="deleteThing(thing)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="things.length <= 0">
            <span>No items found</span>
        </div>

</div>