<div class="panel-group">
    <div >
        <div [fxLayout]="direction" (click)="toggleDirection()" class="colored box">
                <div fxFlex="20">  fxFlex="20"  </div>
                <div fxFlex="60">  fxFlex="60"  </div>
                <div fxFlex>      fxFlex       </div>
            </div>
    </div>

    <!--<p>{{message}}</p>-->
    <!--<md-input placeholder="Character count (100 max)" maxlength="100" class="demo-full-width"
              value="Hello world. How are you?"
              #characterCountHintExample>
        <md-hint align="end">hola</md-hint>
    </md-input>
    <md-input placeholder="amount" align="end">
        <span md-prefix>$&nbsp;</span>
        <span md-suffix>.00</span>
    </md-input>-->
    <!--<svg viewBox="0 0 250 250">
        <polygon points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" />
        <polygon points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" />
        <path d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z" />
    </svg>-->
    <div style="width:100%;height:300px">
        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <!--<circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />-->
            <rect width="80" height="80" x="8" y="8" style="fill:lightgray;stroke-width:3;stroke:rgb(0,0,0)">
            </rect>
            <text x="18" y="18" fill="blue" style="font-size:8px;" >TEST</text>
            <defs>
                <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
                    <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5" />
                </pattern>
                <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                    <rect width="80" height="80" fill="url(#smallGrid)" />
                    <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1" />
                </pattern>
            </defs>

            <rect width="100%" height="100%" fill="url(#grid)" />
            <g>
                <rect [attr.x]="posicionx" [attr.y]="posiciony" width="100" height="100" fill="lightgray" (click)="testclick()"></rect>
                <text [attr.x]="posicionx" [attr.y]="posiciony" font-family="Verdana" font-size="8" fill="blue"> TEXT</text>
            </g>

        </svg>
    </div>
    <md-card class="demo-card demo-basic">
        <md-toolbar color="primary">Basic</md-toolbar>
        <md-card-content>
            <form>
                <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
                </md-input>

                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <!--<td><md-input placeholder="Position" style="width: 100%"></md-input></td>-->
                        <td><md-input [(ngModel)]="posicionx" placeholder="X" style="width: 100%" [ngModelOptions]="{standalone: true}"></md-input></td>
                        <td><md-input [(ngModel)]="posiciony" placeholder="Y" style="width: 100%" [ngModelOptions]="{standalone: true}"></md-input></td>
                    </tr>
                </table>
                <p>
                    <md-textarea class="demo-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-textarea>
                    <md-textarea class="demo-full-width" placeholder="Address 2"></md-textarea>
                </p>
                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td><md-input class="demo-full-width" placeholder="City"></md-input></td>
                        <td><md-input class="demo-full-width" placeholder="State"></md-input></td>
                        <td>
                            <md-input #postalCode class="demo-full-width" maxlength="5"
                                      placeholder="Postal Code"
                                      value="94043">
                                <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
                            </md-input>
                        </td>
                    </tr>
                </table>
            </form>
        </md-card-content>
    </md-card>
    <ul>
        <li *ngFor="let value of values">
            <span>{{value}} </span>
        </li>
    </ul>
</div>