<div>
    <md-toolbar color="primary" class="mm-toolbar-fixed">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>dehaze</md-icon>
        </button>
        <!--<button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>-->
        Safety
    </md-toolbar>


    <md-sidenav-layout fullscreen class="mm-content">

        <md-sidenav #sidenav opened mode="side" class="app-sidenav mm-sidenav mm-sidebar">
            <!--<div class="sidebar">-->
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="icon-speedometer"></i> Home <span class="tag tag-info">NEW</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="nav-title">
                            CRASH
                        </li>
                        <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown" routerLinkActive="open">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
                                </li>
                            </ul>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/widgets']"><i class="icon-calculator"></i> Crash List <span class="tag tag-info">NEW</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> New Crash</a>
                        </li>
                        <li class="divider"></li>
                        <li class="nav-title">
                            OTHERS
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/equipment']"><i class="icon-pie-chart"></i> Equipment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/equipmenttype']"><i class="icon-pie-chart"></i> Equipment Type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/berthing']"><i class="icon-pie-chart"></i> Berthing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/berthingd3']"><i class="icon-pie-chart"></i> Berthing D3</a>
                        </li>

                        <!--<li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/costcenter']"><i class="icon-pie-chart"></i> Cost Center</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/currency']"><i class="icon-pie-chart"></i> Currency</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']"><i class="icon-pie-chart"></i> User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/role']"><i class="icon-pie-chart"></i> Role</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/phase']"><i class="icon-pie-chart"></i> Phase</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/travelphase']"><i class="icon-pie-chart"></i> TravelPhase</a>
                        </li>-->



                        <!--<li class="nav-item nav-dropdown">

                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
                                </li>
                            </ul>
                        </li>-->

                    </ul>
                </nav>
            <!--</div>-->
        </md-sidenav>

        <div style="background-color: #EEEEEE; height: 100% ; padding: 10px;">
            <router-outlet></router-outlet>
            <div class="loading-overlay" *ngIf="loading">
                <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
                Cargando...
            </div>
            <div >
                Cargando...
            </div>

        </div>

    </md-sidenav-layout>
</div>