<div style="height: 100%;">
    <div class="containerX">
        <div fxLayout="row" >
            <div fxFlex="20">  fxFlex="20"  </div>
            <div fxFlex="60">  fxFlex="60"  </div>
            <div fxFlex>      fxFlex       </div>
        </div>
    </div>    
    <div class="flex-container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="center center"
         fxLayoutAlign.xs="start">
        <div class="flex-item" fxFlex="20%" fxFlex.xs="40%">  </div>
        <div class="flex-item" fxFlex>        </div>
        <div class="flex-item" fxFlex="25px"> </div>
    </div> 

    <!--Travel Doc {{current.travelId}} {{current.user? current.user.name: 'no user'}}-->
    <!--TOOLBAR-->
    <div fxLayout="row" fxLayoutAlign="space-around none" style="height:100%;">
        row
    </div>
</div> 